.btn {
    display: block;
    width: auto;
    font-weight: 700;
    font-size: 14px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: none;
    text-align: center;
    margin: 0 auto;
}