.text_black_ts14 {
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.text_white_ts14 {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}

.text_ts23 {
    font-size: 23px;
    font-weight: 700;
    color: white;
}

.text_ts26 {
    font-size: 26px;
    font-weight: 700;
    color: black;
}