@media (max-width: 769px) {
    .Dreamshare {
        height: 461px;
        &-card {
            height: 400px;
            &__item {
                height: 100%;
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .meet {
        padding: 115px 0 0 0;
        height: 605px;
        &-profile::before {
            content: '';
            right: 104px; 
        } 
    }
    .activities {
        padding: 165px 0 0 0;
        &-wrapper {
            grid-template: repeat(3, 310px) / repeat(3, 236px);
        }
    }
    .create {
        padding: 285px 0 0 0;
    }
    .footer {
        &__wrapper {
            width: 100%;
            &-name {
                margin-right: 53px;
            }
            &-list {
                margin-left: 56px;
            }
        }
    }
}
