@media (max-width: 769px) {
    .Dreamshare {
        height: 461px;
        &-card {
            height: 400px;
            &__item {
                height: 100%;
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .meet {
        padding: 115px 0 0 0;
        height: 605px;
        &-profile::before {
            content: '';
            right: 104px; 
        } 
    }
    .activities {
        padding: 165px 0 0 0;
        &-wrapper {
            grid-template: repeat(3, 310px) / repeat(3, 236px);
        }
    }
    .create {
        padding: 285px 0 0 0;
    }
    .footer {
        &__wrapper {
            width: 100%;
            &-name {
                margin-right: 53px;
            }
            &-list {
                margin-left: 56px;
            }
        }
    }
}
@media (max-width: 321px) {
    .promo {
        height: 550px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container {
            width: 300px;
        }     
        &__buttons {
            position: relative;
            top: -125px;
            margin: 0 auto;
        }
        &__header {
            margin-top: 95px;
            text-align: center;
        }
        &__subheader {
            margin-top: -7px;
            h3 {
                margin-top: 27px;
                font-size: 30px;
                line-height: 36px
            }
        }
    }
    .Dreamshare {
        height: 781px;
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
        }
        &__title {
            font-size: 22px;
            width: 300px;
        }
        &-card {
            height: 240px;
            width: 300px;
            &__item {
                position: none;
                height: 240px;
                width: 300px;
            }
            &__subtitle {
                margin-top: 18px;
            }
            &__descr {
                margin-top: 18px;
            } 
        }
    }
    .meet {
        height: 1000px;
        .container {
            width: 300px;
        }
        .row {
            display: flex;
            flex-direction: column;
        }
        &-profile {
            margin-top: 15px;
            &::before {
                right: 75px;
            }
        }
        &__title {
            font-size: 22px;
        }
        &-button {
            margin-top: 25px;
        }
    }
    .activities {
        margin-top: 125px;
        .container {
            align-items: center;
            width: 300px;
        }
        &__title {
            font-size: 22px;
        }
        &-wrapper {
            width: 300px;
            grid-template: repeat(7, 120px) / repeat(1, 300px);
            &__ideas {
                .horizontal {
                    grid-row: 5/6;
                    grid-column: 0/1;
                }
                .horizontal2 {
                    grid-row: 6/7;
                    grid-column: 0/1;
                }
            }
        }
    }
}